
.UrlSearch_header {
    font-family: 'GTSuperDisplay-Regular',sans-serif;
    text-align: center;
}

.UrlSearch_form {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.UrlSearch_form > input {
    border: none;
    border-bottom: 1px solid #4d4e55;
    background: none;
    color: #4d4e55;
    font-family: 'GTSuperDisplay-Regular', sans-serif;
    width: 80%;
}

.UrlSearch_form > input:focus-visible {
    outline: none;
}

.UrlSearch_form > button {
    font-family: 'GTSuperDisplay-Regular', sans-serif;
    background-color: #4D4E55;
    color: #FFFFFF;
    padding: 10px;
    width: 70px;
    margin-top: 20px;
}

.UrlSearch_form > button:hover {
    cursor: pointer;
    opacity: 50%;
}

@media screen and (max-width: 900px){

.UrlSearch_form > button {
    padding: 5px;
}

}
