body {
  margin: 0;
  overflow: hidden;
}

@keyframes slideRightToLeft {
  0% {
    transform: translate(+100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slideLeftToRight {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
