.RecipeActions {
    display: grid;
    place-content: center;
    animation: slideLeftToRight .5s forwards;
}

.RecipeActions_buttonContainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
}

.RecipeActions_button {
    font-family: 'GTSuperDisplay-Regular', sans-serif;
    background: linear-gradient(to left, #384558 50%, #7796a3 50%) right;
    background-size: 201%;
    transition: .5s ease-out;
    color: #FFFFFF;
    padding: 10px;
    border: none;
}

.RecipeActions_button:hover {
    cursor: pointer;
    background-position: left;
}

/*WIDE VID VIEW*/

.RecipeActions_Wide {
    display: flex;
    justify-content: center;
    column-gap: 5px; 
}