.RegisterForm {
    height: 100vh;
    display: grid;
    align-items: center;
}

.RegisterForm_container {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: auto;
    background-color: #F7F6F4;
    padding: 0 10% 0 0;
    margin-left: 10%;
    height: 70vh;
    animation: slideRightToLeft 1s forwards;
    overflow: hidden;
    box-shadow: 2px 2px 4px #888888;
    border: solid 1px #888888;
}

.RegisterForm_imageContainer {
    width: 100%;
    height: 100%;
    background: url('../../assets/pexels-cottonbro-3298605.jpg');
    background-size: cover;
}

.RegisterForm_overlay {
    width: 100%;
    height: 100%;
    background-color: #384558;
    opacity: 50%;
}

.RegisterForm_form {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    padding: 0 10%;
}

.RegisterForm_header {
    font-size: 3em;
    font-family: 'GTSuperDisplay-Regular', sans-serif;
    color: #4d4e55;
    margin: 0;
    align-self: flex-end;
}

.RegisterForm_input {
    border: none;
    border-bottom: 1px solid #4d4e55;
    background: none;
    color: #4d4e55;
    font-family: 'GTSuperDisplay-Regular', sans-serif;
    line-height: 2em;
    font-size: 1em;
    align-self: center;
}

.RegisterForm_input:focus-visible {
    outline: none;
}

.RegisterForm_hidden{
    display: none;
    margin: 0;
}

.RegisterForm_information{
    display: inline
}

.RegisterForm_instructions {
    color: #4d4e55;
    font-family: 'GTSuperDisplay-Regular', sans-serif;
    font-size: 1em;
    margin: 0;
}

.RegisterForm_button {
    font-family: 'GTSuperDisplay-Regular', sans-serif;
    background-color: #4D4E55;
    color: #FFFFFF;
    padding: 1em 2em;
}

.RegisterForm_button:hover {
    cursor: pointer;
    opacity: 50%;
}

.fa-check{
    color: green
}

.fa-xmark{
    color: red
}

.RegisterForm_text {
    color: #4d4e55;
    font-family: 'GTSuperDisplay-Regular', sans-serif; 
}

.RegisterForm_link {    
    cursor: pointer;
    text-decoration: underline;
    color: #7796a3;
}


@media screen and (max-width: 700px){

.RegisterForm_container {
    margin: 0 0 0 1em;
}

.RegisterForm_imageContainer {
    background-position-x: 20%;
}

}
