.RegisterForm {
    height: 100vh;
    display: grid;
    align-items: center;
}

.RegisterForm_container {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: auto;
    background-color: #F7F6F4;
    padding: 0 10% 0 0;
    margin-left: 10%;
    height: 70vh;
    animation: slideRightToLeft 1s forwards;
    overflow: hidden;
    box-shadow: 5px 10px 8px #888888;
}

.RegisterForm_imageContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #384558;
}

.RegisterForm_image {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    opacity: 50%;
}

.RegisterForm_form {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    padding-left: 10%;
}

.RegisterForm_header {
    font-size: 50px;
    font-family: 'GTSuperDisplay-Regular', sans-serif;
    color: #4d4e55;
    margin: 0;
    align-self: flex-end;
}

.RegisterForm_form > input {
    border: none;
    border-bottom: 1px solid #4d4e55;
    background: none;
    color: #4d4e55;
    font-family: 'GTSuperDisplay-Regular', sans-serif;
    height: 20px;
    line-height: 20px;
    align-self: center;
}

.RegisterForm_form > input:focus-visible {
    outline: none;
}

.RegisterForm_form > p {
    color: #4d4e55;
    font-family: 'GTSuperDisplay-Regular', sans-serif;
    font-size: 14px
}

.RegisterForm_button {
    font-family: 'GTSuperDisplay-Regular', sans-serif;
    background-color: #4D4E55;
    color: #FFFFFF;
    width: 100px;
    height: 50px;
    padding: 10px;
}

.RegisterForm_button:hover {
    cursor: pointer;
    opacity: 50%;
}

.RegisterForm_hidden{
    display: none
}

.RegisterForm_information{
    display: inline
}

.RegisterForm_check{
    display: inline,
}

.fa-check{
    color: green
}

.RegisterForm_times{
    display: inline
}

.fa-xmark{
    color: red
}

.RegisterForm_link {    
    cursor: pointer;
    text-decoration: underline;
    color: #384558;
}


@media screen and (max-width: 700px){

.RegisterForm_imageContainer {
    display: none;
}

.RegisterForm_form {
    grid-column: 1/3;
}

.RegisterForm_form > p {
    font-size: 12px;
}

.RegisterForm_header {
    font-size: 40px;
}

.RegisterForm_button {
    width: 80px;
    height: 30px;
    padding: 5px;
}

}

@media screen and (max-width: 700px) and (min-height: 800px){
    
.RegisterForm_header {
    font-size: 50px;
}

}