.videosList{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr 9fr 1fr;
    margin: 0;
    padding: 0 1em;
    text-align: left;
    row-gap: .5em;
    column-gap: .5em;
}

.videosList_backward {
    font-family: 'GTSuperDisplay-Regular', sans-serif;
    color: #4D4E55;
    grid-column: 1/5;
    width: 20%;
}

.videosList_backward:hover {
    cursor: pointer;
    opacity: 50%;
} 

.videosList_header {
    grid-column: 1/5;
    margin: 0;
    font-family: 'GTSuperDisplay-Regular', sans-serif;
    color: #4D4E55;
}

.videosList_videoContainer {
    display: grid;
    height: 100%;
    width: 100%;
}

.videosList_listitem {
    font-family: 'GTAmerica-Light',sans-serif;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow: hidden;
    animation: slideRightToLeft 0.5s forwards;
    font-family: 'GTSuperDisplay-Regular', sans-serif;
    color: #FFFFFF;
    background-color: #515a67;
    height: 60%;
}

.videosList_listitem:hover {
    cursor: pointer;
    opacity: 50%;
}

.videosList_thumbnail {
    width: 100%;
    height: auto;
    border: solid 1px #888888;
}

.videosList_textContainer {
    display: grid;
    padding: .5em;
}

.videosList_videoTitle {
    margin: 0;
    font-size: .9em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.videosList_channel {
    font-size: .8em;
    margin: 0;
    align-self: flex-end;
    overflow: hidden;
    text-overflow: ellipsis;
}

.videosList_pagination {
    grid-column: 1/5;
    display: flex;
    align-items: center;
}

.videosList_pagination > .fa-circle-left, 
.videosList_pagination > .fa-circle-right {
    color: #4D4E55;
    margin: 0 20px 0 0;
    width: 30px;
    height: auto;
}

.videosList_pagination > .fa-circle-left:hover, 
.videosList_pagination > .fa-circle-right:hover {
    cursor: pointer;
    opacity: 50%;
}

.videosList_disabled {
    opacity: 50%;
    cursor: default !important;
}

@media screen and (max-width: 1000px){

.videosList{
    grid-column: 1/2;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content repeat(4, 3fr) 1fr;
}

.videosList_backward,
.videosList_header {
    grid-column: 1/2;
}

.videosList_listitem {
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr;
    height: auto;
}

.videosList_videoContainer {
    width: 100%;
}

.videosList_thumbnail {
    width: 100%;
    height: 100%;
}

.videosList_pagination {
    grid-column: 1/2;
}

}

